.profile #wrapper {
	padding: 100px 40px 0px;
	max-width: 700px;
	margin: 0 auto;
}

#wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 60px 40px 100px 40px;
}

#wrapper.home {
	max-width: 700px;
	margin: 0 auto;
	padding: 0px 40px 20px 40px;
}

img {
	width: 70%;
	max-width: 70%;
	border-radius: 3px;
	margin: 20px 0px 20px 0px;
}

.post h2 {
	margin: 20px 0px 20px 0px;
	font: 300 24px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #111;
}

.post h3 {
	font-size: 20px;
	font-weight: 400px;
	margin: 20px 0px 20px 0px;
}

.post-body ul {
	margin: 0;
	padding: 0;
	margin: 20px 0px 20px 0px;
}

.profile #sitetitle {
 	letter-spacing: 0px;
 	font-size: 35px;
	font-weight: 600px
 	color: #333;
	font: 300 32px/1.4em "Helvetica Neue", Helvetica,Arial,sans-serif;
}

a.symbol {
    color: #cdd4da;
    font-size: 1.8rem;
    text-decoration: none;
    margin-right: 0.8rem;
}

.ad {
	margin: 20px 0px 20px 0px;
}
