body {
  font-family: "Helvetica Neue",
    Arial, 
    "Hiragino Kaku Gothic ProN", 
    "Hiragino Sans", 
    Meiryo, 
    sans-serif;
}

element.style {
  color: #8be9fd;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",
    Arial, 
    "Hiragino Kaku Gothic ProN", 
    "Hiragino Sans", 
    Meiryo, 
    sans-serif;
}  

.intro-header .site-heading .subheading, .intro-header .page-heading .subheading {
  font-family: "Helvetica Neue",
    Arial, 
    "Hiragino Kaku Gothic ProN", 
    "Hiragino Sans", 
    Meiryo, 
    sans-serif;
}

.intro-header .post-heading .meta {
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
}

.post-content-preview {
  font-size: 14px;
  color: #a3a3a3;
  font-style: normal;
}

.post-preview>.post-meta {
  font-family: "Helvetica Neue",
    Arial, 
    "Hiragino Kaku Gothic ProN", 
    "Hiragino Sans", 
    Meiryo, 
    sans-serif;
  color: gray;
  font-size: 16px;
  margin-top: 0;
  font-style: normal;
    
}
